Repository sjnims/rpi_weather_display: changes, and which Codecov flags are due for each by the changed paths.
All: models, client, server, utils, combined

Implement variable refresh rates based on battery state
  ROADMAP.md
  config.example.yaml
  src/rpi_weather_display/models/config.py
  src/rpi_weather_display/utils/power_manager.py
  tests/utils/test_power_manager.py
Due: models, utils, combined

Add quiet hours display sleep mode (task 1.4.3)
  ROADMAP.md
  src/rpi_weather_display/client/main.py
  tests/client/test_client_main.py
Due: client, combined

Prepare release v0.2.0
  CHANGELOG.md
  pyproject.toml
  src/rpi_weather_display/__init__.py
Due: combined

Add CONTRIBUTING.md with project guidelines
  CONTRIBUTING.md
Due: none

Update README.md with recent feature completions and roadmap updates
  README.md
Due: none

Update README.md with comprehensive configuration options
  README.md
Due: none

Update ROADMAP.md with reprioritized tasks based on code review
  ROADMAP.md
Due: none

Enhance codecov.yml with modern best practices
  codecov.yml
Due: none

Create centralized constants module for default values
  README.md
  ROADMAP.md
  config.example.yaml
  src/rpi_weather_display/client/display.py
  src/rpi_weather_display/client/main.py
  src/rpi_weather_display/constants.py
  src/rpi_weather_display/models/config.py
  src/rpi_weather_display/server/api.py
  src/rpi_weather_display/server/main.py
  src/rpi_weather_display/server/renderer.py
  src/rpi_weather_display/utils/battery_utils.py
  src/rpi_weather_display/utils/network.py
  src/rpi_weather_display/utils/power_manager.py
  tests/client/test_display.py
  tests/data/test_config.yaml
  tests/server/test_renderer.py
  tests/server/test_server_main.py
  tests/utils/test_power_manager.py
Due: models, client, server, utils, combined

Add proper Google-style docstrings to constants.py and client package
  ROADMAP.md
  docs/docstring_examples.md
  src/rpi_weather_display/client/display.py
  src/rpi_weather_display/client/main.py
  src/rpi_weather_display/constants.py
Due: client, combined

Add Google-style docstrings to all modules, classes and functions
  ROADMAP.md
  src/rpi_weather_display/client/display.py
  src/rpi_weather_display/client/main.py
  src/rpi_weather_display/models/config.py
  src/rpi_weather_display/models/system.py
  src/rpi_weather_display/models/weather.py
  src/rpi_weather_display/server/api.py
  src/rpi_weather_display/server/main.py
  src/rpi_weather_display/server/renderer.py
  src/rpi_weather_display/utils/battery_utils.py
  src/rpi_weather_display/utils/error_utils.py
  src/rpi_weather_display/utils/network.py
  src/rpi_weather_display/utils/power_manager.py
  src/rpi_weather_display/utils/time_utils.py
Due: models, client, server, utils, combined

Standardize path resolution across client and server
  ROADMAP.md
  path_resolution_summary.md
  pyproject.toml
  src/rpi_weather_display/client/main.py
  src/rpi_weather_display/models/config.py
  src/rpi_weather_display/server/main.py
  src/rpi_weather_display/server/renderer.py
  src/rpi_weather_display/utils/README.md
  src/rpi_weather_display/utils/__init__.py
  src/rpi_weather_display/utils/logging.py
  src/rpi_weather_display/utils/path_utils.py
  tests/client/test_client_main.py
  tests/client/test_client_main_coverage.py
  tests/conftest.py
  tests/models/test_config.py
  tests/server/test_renderer.py
  tests/server/test_server_main.py
  tests/server/test_server_main_coverage.py
  tests/server/test_server_main_updated.py
  tests/utils/test_path_utils.py
  tests/utils/test_power_manager.py
Due: models, client, server, utils, combined

Update README.md to mark path resolution task as completed
  README.md
Due: none

Fix duplicate logging to console and file
  src/rpi_weather_display/utils/logging.py
Due: utils, combined

Fix logging tests to match new logging behavior
  src/rpi_weather_display/utils/logging.py
  tests/utils/test_logging.py
Due: utils, combined

Implement consistent file system abstraction project-wide
  ROADMAP.md
  src/rpi_weather_display/client/main.py
  src/rpi_weather_display/models/config.py
  src/rpi_weather_display/server/renderer.py
  src/rpi_weather_display/utils/README.md
  src/rpi_weather_display/utils/file_utils.py
  src/rpi_weather_display/utils/logging.py
  tests/server/test_renderer.py
  tests/utils/test_file_utils.py
Due: models, client, server, utils, combined

Update additional files to use file_utils abstraction
  src/rpi_weather_display/client/display.py
  src/rpi_weather_display/utils/power_manager.py
  tests/client/test_display.py
Due: client, utils, combined

Complete file system abstraction implementation and update all tests
  poetry.lock
  pyproject.toml
  src/rpi_weather_display/client/display.py
  src/rpi_weather_display/client/main.py
  src/rpi_weather_display/models/config.py
  src/rpi_weather_display/server/main.py
  src/rpi_weather_display/server/renderer.py
  src/rpi_weather_display/utils/logging.py
  src/rpi_weather_display/utils/network.py
  src/rpi_weather_display/utils/power_manager.py
  tests/client/test_client_main.py
  tests/client/test_client_main_coverage.py
  tests/client/test_display.py
  tests/models/test_config.py
  tests/models/test_system.py
  tests/models/test_weather.py
  tests/server/test_api_client.py
  tests/server/test_api_server.py
  tests/server/test_renderer.py
  tests/server/test_server_main.py
  tests/server/test_server_main_coverage.py
  tests/server/test_server_main_updated.py
  tests/utils/test_battery_utils.py
  tests/utils/test_dynamic_wakeup.py
  tests/utils/test_file_utils.py
  tests/utils/test_logging.py
  tests/utils/test_network.py
  tests/utils/test_power_manager.py
  tests/utils/test_power_manager_coverage.py
  tests/utils/test_time_until_quiet_change.py
  tests/utils/test_time_utils.py
Due: models, client, server, utils, combined

Implement missing battery constants and clean up unused path constants
  src/rpi_weather_display/constants.py
  src/rpi_weather_display/utils/battery_utils.py
  src/rpi_weather_display/utils/power_manager.py
  tests/utils/test_battery_utils.py
  tests/utils/test_network.py
  tests/utils/test_path_utils.py
Due: utils, combined

Implement missing battery constants and clean up unused path constants
  poetry.lock
Due: none

Fix CI test failures with cross-platform path resolution
  .github/workflows/ci.yml
  pyproject.toml
  tests/utils/test_network.py
Due: none

Update README.md to reflect completed Phase 2 development work
  README.md
Due: none

Expand roadmap with advanced features and display optimizations
  ROADMAP.md
  deploy/scripts/optimize-power.sh
Due: none

Update roadmap with task prioritization and new deployment security measures
  ROADMAP.md
Due: none

Complete Phase 2.2.1: Replace generic Any types with specific type annotations
  .cursor/settings.json
  README.md
  ROADMAP.md
  deploy/scripts/build_sprite.py
  path_resolution_summary.md
  src/rpi_weather_display/client/display.py
  src/rpi_weather_display/server/main.py
  src/rpi_weather_display/server/renderer.py
  src/rpi_weather_display/utils/file_utils.py
  src/rpi_weather_display/utils/network.py
  src/rpi_weather_display/utils/power_manager.py
  tests/client/test_display.py
  tests/models/test_system.py
  tests/models/test_weather.py
  tests/server/test_renderer.py
  tests/server/test_server_main.py
  tests/server/test_server_main_coverage.py
  tests/server/test_server_main_updated.py
  tests/utils/test_file_utils.py
Due: client, server, utils, combined

Fix test coverage percentage and correct GitHub repository link for InkyPi
  README.md
Due: none

Implement Phase 2.2.2: Structural pattern matching for state handling
  src/rpi_weather_display/client/display.py
  src/rpi_weather_display/client/main.py
  src/rpi_weather_display/utils/battery_utils.py
  src/rpi_weather_display/utils/network.py
  src/rpi_weather_display/utils/power_manager.py
Due: client, utils, combined

Update documentation for Phase 2.2.2 completion
  README.md
  ROADMAP.md
Due: none

Increase test coverage for critical utility modules
  tests/client/test_display.py
  tests/utils/test_battery_utils.py
  tests/utils/test_file_utils.py
  tests/utils/test_network.py
Due: none

Add code quality badges for security, CodeQL, and Docker registry
  README.md
Due: none

Optimize CI/CD workflow for better performance and reliability
  .github/codeql/codeql-config.yml
  .github/workflows/ci.yml
Due: none

Fix security scan step to use pip freeze instead of poetry export
  .github/workflows/ci.yml
Due: none

Fix CodeQL badge to use static badge format
  README.md
Due: none

Fix security vulnerabilities and update safety command
  .github/workflows/ci.yml
  poetry.lock
  pyproject.toml
Due: none

Fix safety scan command to work in non-interactive CI environment
  .github/workflows/ci.yml
Due: none

Fix safety scan output format to use 'screen' instead of 'text'
  .github/workflows/ci.yml
Due: none

Optimize CI/CD workflow for faster builds
  .github/workflows/ci.yml
Due: none

Add Safety API key support for security scanning
  .github/workflows/ci.yml
Due: none

Fix Safety authentication by using environment variable
  .github/workflows/ci.yml
Due: none

Remove unnecessary dependencies from lint job
  .github/workflows/ci.yml
Due: none

Path conditions:
  models: any of: src/rpi_weather_display/models/
  client: any of: src/rpi_weather_display/client/
  server: any of: src/rpi_weather_display/server/
  utils: any of: src/rpi_weather_display/utils/
  combined: any of: src/rpi_weather_display/
