Repository sjnims/rpi_weather_display: changes, and which Codecov flags are due for each by the changed paths.
All: models, client, server, utils, combined, power_management, display, weather_api, rendering

Fix safety installation to avoid dependency conflicts
  .github/workflows/ci.yml
Due: none

Add --no-prompt flag to safety scan for non-interactive CI execution
  .github/workflows/ci.yml
Due: none

Fix Safety CI integration with proper non-interactive mode
  .github/workflows/ci.yml
Due: none

Add custom Safety security policy for focused vulnerability scanning
  .github/workflows/ci.yml
  .gitignore
  .safety-policy.json
Due: none

Replace Safety CLI with GitHub Dependabot for security updates
  .github/dependabot.yml
  .github/workflows/ci.yml
  .safety-policy.json
  README.md
Due: none

Update dependencies in poetry.lock
  poetry.lock
Due: none

Configure CodeQL to handle Python 3.10+ pattern matching
  .github/codeql/README.md
  .github/codeql/codeql-config.yml
  src/rpi_weather_display/utils/power_manager.py
Due: utils, combined, power_management

Fix CodeQL ineffectual statement warnings in Protocol definitions
  .github/codeql/README.md
  .github/codeql/codeql-config.yml
  src/rpi_weather_display/client/display.py
Due: client, combined, display

Fix CodeQL empty except warnings by adding logging
  .github/codeql/README.md
  src/rpi_weather_display/utils/power_manager.py
Due: utils, combined, power_management

Update VSCode settings to include YAML schemas and GitHub Actions workflows
  .vscode/settings.json
Due: none

Update CI workflow: improve code complexity analysis and upgrade Docker build action
  .github/workflows/ci.yml
Due: none

feat: Add exception chaining throughout error handling
  ROADMAP.md
  src/rpi_weather_display/client/main.py
  src/rpi_weather_display/server/api.py
  src/rpi_weather_display/server/renderer.py
  src/rpi_weather_display/utils/power_manager.py
  tests/server/test_api_client.py
  tests/server/test_renderer.py
Due: client, server, utils, combined, power_management, weather_api, rendering

refactor: Convert client to fully async architecture for improved power efficiency
  CLAUDE.md
  README.md
  ROADMAP.md
  src/rpi_weather_display/client/main.py
  src/rpi_weather_display/utils/network.py
  tests/client/test_client_main.py
  tests/client/test_client_main_coverage.py
  tests/utils/test_network.py
Due: client, utils, combined

feat: Complete Phase 2.8 deployment improvements and centralize constants
  README.md
  ROADMAP.md
  deploy/scripts/fix_svg_color.sh
  deploy/scripts/icons_build.sh
  deploy/scripts/install.sh
  deploy/scripts/optimize-power.sh
  deploy/scripts/trim_svgs.sh
  src/rpi_weather_display/client/display.py
  src/rpi_weather_display/client/main.py
  src/rpi_weather_display/constants.py
  src/rpi_weather_display/server/main.py
  src/rpi_weather_display/server/renderer.py
  src/rpi_weather_display/utils/network.py
  src/rpi_weather_display/utils/power_manager.py
  tests/server/test_renderer.py
  tests/server/test_server_main.py
  tests/server/test_server_main_coverage.py
  tests/server/test_server_main_updated.py
  tests/utils/test_logging.py
  tests/utils/test_network.py
  tests/utils/test_power_manager.py
Due: client, server, utils, combined, power_management, display, rendering

docs: Major documentation reorganization and cleanup
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  ROADMAP.md
  docs/OPERATION.md
  docs/POWER_OPTIMIZATION.md
  docs/SECURITY.md
  docs/TROUBLESHOOTING.md
  src/rpi_weather_display/client/display.py
  src/rpi_weather_display/client/main.py
  src/rpi_weather_display/constants.py
  src/rpi_weather_display/server/api.py
  src/rpi_weather_display/server/browser_manager.py
  src/rpi_weather_display/server/main.py
  src/rpi_weather_display/server/renderer.py
  src/rpi_weather_display/utils/cache_manager.py
  src/rpi_weather_display/utils/memory_profiler.py
  tests/client/test_display.py
  tests/conftest.py
  tests/server/conftest.py
  tests/server/test_api_client.py
  tests/server/test_browser_manager.py
  tests/server/test_renderer.py
  tests/server/test_server_main_additional.py
  tests/server/test_server_main_coverage.py
  tests/server/test_server_main_updated.py
  tests/utils/test_cache_manager.py
  tests/utils/test_memory_profiler.py
Due: client, server, utils, combined, display, weather_api, rendering

refactor: centralize magic numbers and use constants consistently
  src/rpi_weather_display/client/main.py
  src/rpi_weather_display/constants.py
  src/rpi_weather_display/server/api.py
  src/rpi_weather_display/server/main.py
  src/rpi_weather_display/server/renderer.py
  src/rpi_weather_display/utils/battery_utils.py
  src/rpi_weather_display/utils/cache_manager.py
  src/rpi_weather_display/utils/memory_profiler.py
  src/rpi_weather_display/utils/power_manager.py
  tests/conftest.py
  tests/server/test_api_client.py
  tests/server/test_browser_manager.py
  tests/server/test_renderer.py
  tests/server/test_server_main_additional.py
  tests/utils/test_battery_utils.py
  tests/utils/test_cache_manager.py
  tests/utils/test_dynamic_wakeup.py
  tests/utils/test_memory_profiler.py
Due: client, server, utils, combined, power_management, weather_api, rendering

feat: Optimize CI/CD workflow with intelligent path filtering
  .github/workflows/README.md
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  ROADMAP.md
  config.example.yaml
  poetry.lock
  pyproject.toml
Due: none

refactor: modularize power_manager.py for improved maintainability
  CLAUDE.md
  REFACTORING_SUMMARY.md
  ROADMAP.md
  poetry.lock
  pyproject.toml
  src/rpi_weather_display/models/system.py
  src/rpi_weather_display/utils/__init__.py
  src/rpi_weather_display/utils/battery_monitor.py
  src/rpi_weather_display/utils/pijuice_adapter.py
  src/rpi_weather_display/utils/power_manager.py
  src/rpi_weather_display/utils/power_state_controller.py
  src/rpi_weather_display/utils/system_metrics_collector.py
  stubs/pijuice/__init__.pyi
  stubs/pijuice/py.typed
  tests/utils/test_battery_monitor.py
  tests/utils/test_battery_monitor_coverage.py
  tests/utils/test_dynamic_wakeup.py
  tests/utils/test_pijuice_adapter.py
  tests/utils/test_power_manager.py
  tests/utils/test_power_manager_coverage.py
  tests/utils/test_power_state_controller.py
  tests/utils/test_system_metrics_collector.py
  tests/utils/test_time_until_quiet_change.py
  utils/test_helpers/__init__.py
  utils/test_helpers/power_manager_test_helpers.py
Due: models, utils, combined, power_management

fix: resolve time-dependent test failures in CI/CD
  tests/conftest.py
  tests/utils/test_power_manager.py
  tests/utils/test_power_state_controller.py
Due: none

Remove unnecessary file
  REFACTORING_SUMMARY.md
Due: none

fix: handle exceptions during PowerStateController initialization
  deploy/scripts/fix_svg_color.sh
  deploy/scripts/install.sh
  deploy/scripts/optimize-power.sh
  deploy/scripts/trim_svgs.sh
  src/rpi_weather_display/utils/power_state_controller.py
  src/rpi_weather_display/utils/system_metrics_collector.py
  tests/utils/test_power_state_controller.py
Due: utils, combined

Add pandas, matplotlib, and tabulate dependencies for data visualization and formatting
  .gitignore
  deploy/scripts/track_code_quality.py
  poetry.lock
  pyproject.toml
Due: none

fix: avoid timing issues in test by using a fixed datetime for UVI calculations
  tests/server/test_renderer.py
Due: none

style: clean up whitespace and formatting in track_code_quality.py
  deploy/scripts/track_code_quality.py
Due: none

refactor: update roadmap with complexity ratings and new tasks for code quality improvements
  ROADMAP.md
Due: none

refactor: reduce renderer.py generate_html complexity from CC 27 to 5
  ROADMAP.md
  deploy/scripts/track_code_quality.py
  src/rpi_weather_display/models/weather.py
  src/rpi_weather_display/server/moon_phase_helper.py
  src/rpi_weather_display/server/renderer.py
  src/rpi_weather_display/server/wind_helper.py
  tests/server/test_renderer.py
Due: models, server, combined, rendering

refactor: reduce battery_monitor.py get_battery_status complexity from CC 22 to <10
  ROADMAP.md
  src/rpi_weather_display/utils/battery_monitor.py
Due: utils, combined

refactor: reduce renderer._get_daily_max_uvi complexity from CC 19 to <10
  ROADMAP.md
  src/rpi_weather_display/server/renderer.py
Due: server, combined, rendering

refactor: reduce complexity of display_pil_image and _prepare_time_data methods
  src/rpi_weather_display/client/display.py
  src/rpi_weather_display/server/renderer.py
Due: client, server, combined, display, rendering

refactor: reduce complexity of set_wifi_power_save_mode method
  src/rpi_weather_display/utils/network.py
  tests/utils/test_network.py
Due: utils, combined

refactor: reduce complexity of AsyncWeatherDisplayClient.run method
  src/rpi_weather_display/client/main.py
Due: client, combined

refactor: reduce complexity of api.py get_coordinates and get_weather_data methods
  src/rpi_weather_display/server/api.py
Due: server, combined, weather_api

fix: remove -nc flag from radon command in track_code_quality.py
  deploy/scripts/track_code_quality.py
Due: none

docs: update roadmap with completed refactoring tasks and improved metrics
  ROADMAP.md
Due: none

refactor: extract weather rendering logic into focused modules to improve maintainability
  src/rpi_weather_display/server/renderer.py
  src/rpi_weather_display/server/template_filter_manager.py
  src/rpi_weather_display/server/time_formatter.py
  src/rpi_weather_display/server/weather_calculator.py
  src/rpi_weather_display/server/weather_icon_mapper.py
  tests/server/test_renderer.py
  tests/server/test_template_filter_manager.py
  tests/server/test_time_formatter.py
  tests/server/test_weather_calculator.py
  tests/server/test_weather_icon_mapper.py
Due: server, combined, rendering

docs: update roadmap with completed renderer.py modularization
  ROADMAP.md
Due: none

refactor: extract display.py into focused modules for improved maintainability
  src/rpi_weather_display/client/battery_threshold_manager.py
  src/rpi_weather_display/client/display.py
  src/rpi_weather_display/client/image_processor.py
  src/rpi_weather_display/client/partial_refresh_manager.py
  src/rpi_weather_display/client/text_renderer.py
  tests/client/test_battery_threshold_manager.py
  tests/client/test_display.py
  tests/client/test_display_coverage.py
  tests/client/test_image_processor.py
  tests/client/test_partial_refresh_manager.py
  tests/client/test_text_renderer.py
Due: client, combined, display

Update roadmap with recent code quality metrics and refactoring results
  ROADMAP.md
Due: none

refactor: improve constants usage and remove unused constants
  src/rpi_weather_display/client/battery_threshold_manager.py
  src/rpi_weather_display/constants.py
  src/rpi_weather_display/utils/logging.py
  src/rpi_weather_display/utils/system_metrics_collector.py
Due: client, utils, combined

feat: implement comprehensive custom exception hierarchy
  ROADMAP.md
  src/rpi_weather_display/client/display.py
  src/rpi_weather_display/client/image_processor.py
  src/rpi_weather_display/client/main.py
  src/rpi_weather_display/client/partial_refresh_manager.py
  src/rpi_weather_display/client/text_renderer.py
  src/rpi_weather_display/exceptions.py
  src/rpi_weather_display/models/config.py
  src/rpi_weather_display/server/api.py
  src/rpi_weather_display/server/main.py
  src/rpi_weather_display/utils/battery_monitor.py
  src/rpi_weather_display/utils/network.py
  src/rpi_weather_display/utils/path_utils.py
  src/rpi_weather_display/utils/pijuice_adapter.py
  src/rpi_weather_display/utils/power_manager.py
  src/rpi_weather_display/utils/power_state_controller.py
  tests/client/test_client_main.py
  tests/client/test_display.py
  tests/server/test_api_client.py
  tests/server/test_server_main.py
  tests/server/test_server_main_coverage.py
  tests/server/test_server_main_updated.py
  tests/test_exceptions.py
  tests/utils/test_battery_monitor.py
  tests/utils/test_battery_monitor_coverage.py
  tests/utils/test_network.py
  tests/utils/test_pijuice_adapter.py
  tests/utils/test_power_state_controller.py
Due: models, client, server, utils, combined, power_management, display, weather_api

Path conditions:
  models: any of: src/rpi_weather_display/models/
  client: any of: src/rpi_weather_display/client/
  server: any of: src/rpi_weather_display/server/
  utils: any of: src/rpi_weather_display/utils/
  combined: any of: src/rpi_weather_display/
  power_management: any of: src/rpi_weather_display/utils/power_manager.py, src/rpi_weather_display/utils/battery_utils.py
  display: any of: src/rpi_weather_display/client/display.py
  weather_api: any of: src/rpi_weather_display/server/api.py
  rendering: any of: src/rpi_weather_display/server/renderer.py
