Repository sjnims/rpi_weather_display: changes, and which Codecov flags are due for each by the changed paths.
All: models, client, server, utils, combined, power_management, display, weather_api, rendering

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  status:
    project:
      default:
        # Only use coverage from the combined run
        target: 94%
        threshold: 1%
        flags:
          - combined
    patch:
      default:
        target: 90%
        threshold: 2%
        
  # Don't consider the individual test group runs for repository status
  range: 80..100
  round: nearest
  precision: 2

  # Ignore patterns for files that shouldn't be included in coverage
  ignore:
    - "**/*.md"        # Ignore markdown files
    - "**/*.yml"       # Ignore YAML config files
    - "**/*.yaml"      # Ignore YAML config files
    - "tests/fixtures/**"  # Ignore test fixtures

flags:
  models:
    paths:
      - src/rpi_weather_display/models/
    carryforward: true
  client:
    paths:
      - src/rpi_weather_display/client/
    carryforward: true
  server:
    paths:
      - src/rpi_weather_display/server/
    carryforward: true
  utils:
    paths:
      - src/rpi_weather_display/utils/
    carryforward: true
  combined:
    paths:
      - src/rpi_weather_display/

# Component management for better insights into specific functional areas
component_management:
  individual_components:
    - component_id: power_management
      paths:
        - "src/rpi_weather_display/utils/power_manager.py"
        - "src/rpi_weather_display/utils/battery_utils.py"
      
    - component_id: display
      paths:
        - "src/rpi_weather_display/client/display.py"
      
    - component_id: weather_api
      paths:
        - "src/rpi_weather_display/server/api.py"
        
    - component_id: rendering
      paths:
        - "src/rpi_weather_display/server/renderer.py"

comment:
  layout: "reach, diff, flags, files, components"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: false     # [true :: must have a base report to post]
  require_head: true      # [true :: must have a head report to post]

refactor: enhance type definitions and improve metrics data structures in track_code_quality.py
  deploy/scripts/track_code_quality.py
Due: none

refactor: reorganize roadmap structure and enhance clarity for project phases and tasks
  ROADMAP.md
Due: none

fix: correct formatting in README for client run instructions and acknowledgments
  README.md
Due: none

refactor: restructure CLAUDE.md for clarity and organization, enhancing project guidelines and quick start instructions
  CLAUDE.md
Due: none

refactor: streamline copilot-instructions.md for clarity and organization, enhancing project guidelines and best practices
  .github/copilot-instructions.md
Due: none

fix: correct typo in filename for copilot instructions
  .github/copilot-instructions.md
Due: none

refactor: update task numbering in ROADMAP.md for improved clarity and organization
  ROADMAP.md
Due: none

refactor: improve type safety and consolidate server tests
  src/rpi_weather_display/server/api.py
  tests/server/test_server_main.py
  tests/server/test_server_main_additional.py
  tests/server/test_server_main_coverage.py
  tests/server/test_server_main_updated.py
Due: server, combined, weather_api

test: increase config.py coverage to 94.57% to meet project requirements
  CLAUDE.md
  pyproject.toml
  tests/models/test_config.py
Due: none

test: increase partial_refresh_manager.py coverage from 84.42% to 94.81%
  tests/client/test_partial_refresh_manager.py
Due: none

test: increase text_renderer.py coverage to 96.43% by adding exception handling tests
  tests/client/test_partial_refresh_manager.py
  tests/client/test_text_renderer.py
Due: none

test: increase battery_monitor.py coverage to 97.99%
  tests/utils/test_battery_monitor.py
Due: none

refactor: remove dead code and improve battery_threshold_manager
  src/rpi_weather_display/client/battery_threshold_manager.py
  tests/client/test_battery_threshold_manager.py
Due: client, combined

refactor: comprehensive code quality improvements across codebase
  deploy/scripts/build_sprite.py
  pyproject.toml
  src/rpi_weather_display/client/battery_threshold_manager.py
  src/rpi_weather_display/models/config.py
  src/rpi_weather_display/models/system.py
  src/rpi_weather_display/server/api.py
  src/rpi_weather_display/server/browser_manager.py
  src/rpi_weather_display/server/main.py
  src/rpi_weather_display/server/moon_phase_helper.py
  src/rpi_weather_display/server/renderer.py
  src/rpi_weather_display/server/time_formatter.py
  src/rpi_weather_display/server/weather_calculator.py
  src/rpi_weather_display/utils/battery_monitor.py
  src/rpi_weather_display/utils/battery_utils.py
  src/rpi_weather_display/utils/network.py
  src/rpi_weather_display/utils/power_state_controller.py
  src/rpi_weather_display/utils/system_metrics_collector.py
  src/rpi_weather_display/utils/time_utils.py
  tests/client/test_display.py
  tests/conftest.py
  tests/models/test_config.py
  tests/server/conftest.py
  tests/server/test_renderer.py
  tests/server/test_server_main.py
  tests/server/test_weather_calculator.py
  tests/server/test_weather_icon_mapper.py
  tests/utils/test_file_utils.py
  tests/utils/test_network.py
  tests/utils/test_path_utils.py
Due: models, client, server, utils, combined, power_management, weather_api, rendering

feat: replace print() calls with structured logging (task 2.1.5)
  ROADMAP.md
  src/rpi_weather_display/client/display.py
  src/rpi_weather_display/client/image_processor.py
  src/rpi_weather_display/client/main.py
  src/rpi_weather_display/server/main.py
  src/rpi_weather_display/utils/early_error_handler.py
  src/rpi_weather_display/utils/logging.py
  tests/client/test_display.py
  tests/client/test_image_processor.py
  tests/server/test_server_main.py
  tests/utils/test_early_error_handler.py
Due: client, server, utils, combined, display

docs: update completion date for structured logging task and improve code quality metrics
  ROADMAP.md
Due: none

refactor: remove test-only methods from production interfaces (task 2.1.6)
  src/rpi_weather_display/server/api.py
  tests/server/test_api_client.py
Due: server, combined, weather_api

docs: update ROADMAP for completed task 2.1.6
  ROADMAP.md
Due: none

fix: make visibility field optional in hourly weather data
  src/rpi_weather_display/models/weather.py
  src/rpi_weather_display/server/api.py
Due: models, server, combined, weather_api

docs: add API Data Resilience planning section to ROADMAP
  ROADMAP.md
Due: none

feat: complete Phase 2 by resolving circular import risks (task 2.1.7)
  ROADMAP.md
  src/rpi_weather_display/utils/README.md
Due: utils, combined

perf: speed up slowest tests by mocking sleep operations
  tests/client/test_client_main.py
Due: none

docs: update CHANGELOG for v0.3.0 release
  CHANGELOG.md
Due: none
